body {
    font-family: "Monstserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover {
    text-decoration: none;
}

/* css untuk section */

#topbar {
    background-color: #15477A;  /* warna background */
    color: #fff;
    /* height: 50px; */
    height: 50px;
    line-height: 50px;
}

/* #my-banner {
    padding:0;
    left:0;
    top:0;
    bottom:0;
    right:0;
} */

/* #topbar .top-contact, .sosmed {
    list-style: none;
} */

/* #owl-carousel .slider-item .slider-item-img img {
    width:100%;
    height: 100%;
    padding: 0;
} */

.top-contact, .sosmed {
    list-style: none; /* menghilangkan bullets, atau penomoran di list item */ 
    padding: 0;
}

#topbar li {
    display: inline-block; /* mensejajarkan list item ke kanan dalam satu baris */
}

/* .top-contact li {
    display: inline-block;
} */

#topbar li a {
    color: #fff;
    display: inline-block; /* mensejajarkan list item ke kanan dalam satu baris */
    padding: 0 20px;
}

#topbar li a i {
    color: #F2C808;
    margin-right: 5px;
}

/* #topbar .sosmed li a {
    padding: 0 10px;
} */

#topbar .sosmed li a {
    padding: 0 5px; /*0 5px maksudnya ke atas berjarak 0 lalu kebawah berjarak 5px */
}

#topbar .sosmed li i {
    color: #fff;
}

/* css untuk header */

header {
    /* padding: 30px 0; */
    padding: 30px 0; /*30px 0 maksudnya adalah keatas berjarak 30px sedangkan kebawah berjarak 0 */
    /* height: 120px; */
}

.brand {
    display: flex; /* mensejajarkan yang bukan list item ke kanan dalam satu baris */
}

.brand img {
    margin-right: 20px;
}

.brand .brand-name h1 {
    font-size: 25px;
    color: #15477A;
    text-transform: uppercase; /* Mengubah seluruh text menjadi huruf besar */
}

.brand .brand-name h3 {
    font-size: 18px;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase; /* Mengubah seluruh text menjadi huruf besar */
    letter-spacing: 1px; /* Mengatur jarak spasi antar huruf dan kata */
    color: #888888;
}

.pembungkus-searchbox {
    display: flex; /* Menguasai wilayah nya sepenuhnya */
    align-items: center; /* Menengahkan latak posisi dari item yang memakai nya setelah diberi perintah display: flex; */
}

.searchbox {
    width: 100%;
}

/* header form {
    width: 100%;
} */

.btn.btn-utama,
a.btn.btn-utama {
    background-color: #15477A;
    color: #F2C808;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn.btn-utama:hover,
a.btn.btn-utama:hover {
    /* background-color: #15477A;  */
    background-color: #002b57; 
    color: #F2C808;
}

/* css untuk menu / navbar */

/* nav {
    height: 60px;
} */

.navbar {
   padding: 0; 
   border-bottom: 5px solid #F2C808;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400; /* mengatur ketebalan huruf */
    letter-spacing: 0.25px;
}

.bg-biru {
    background-color: #15477A!important;
    color: #fff;
}

/* .navbar-light .navbar-nav .nav-link {
    color: #fff;
} */

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}


/* ?? */
.navbar-dark .navbar-nav .nav-item:hover {
    background-color: #F2C808;
    color: #15477A;
}

.navbar-dark .navbar-nav .nav-item:hover .dropdown-menu {
    /* background-color: #F2C808;
    color: #15477A; */
    display: block;
}


/* .navbar-dark .navbar-nav .nav-item:hover {
    background-color: #F2C808;
    color: #15477A;
} */

/* .navbar-dark .navbar-nav .nav-item .dropdown-menu:hover {
    background-color: #F2C808;
    color: #15477A;
} */

/* .dropdown-item:hover {
    background-color: #F2C808;
    color: #15477A;
} */

/* .navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    background-color: #F2C808;
    color: #fff;
} */

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    /* background-color: #F2C808; */
    color: #fff;
}

.nav-item.active {
    background-color: #F2C808;
    color: #15477A;
}

/* .navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    background-color: #F2C808;
    color: #15477A;
} */

/* .active {
    background-color: #F2C808;
    color: #15477A;
} */

li.nav-item.active a{
    /* background-color: #F2C808; */
    color: #15477A;
}

.navbar-dark .navbar-nav .nav-link {
    /* padding: 0 10px; */
    padding: 15px 20px;
    display: inline-block;
}

/* css untuk slider here area */

#hero-area {
    position: relative;
}

#slider-hero-nav .owl-prev,
#slider-hero-nav .owl-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: #15477A;
    color: #fff;
    outline: none;
    padding: 10px 25px;
    font-size: 20px;
    transition: background-color 0.3s;
}

#slider-hero-nav .owl-prev {
    left: 0px;
    border-radius: 0 50px 50px 0;
}

#slider-hero-nav .owl-next {
    right: 0px;
    border-radius: 50px 0 0 50px;
}

#slider-hero-nav .owl-prev:hover,
#slider-hero-nav .owl-next:hover {
    cursor: pointer;
    background-color: #F2C808;
}

#hero-area .slider-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;  
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
}

#hero-area .slider-item-content h2 {
    font-size: 35px;
    font-weight: 400;
}

#hero-area .slider-item-content p {
    font-size: 16px;
}



/* antah bilo */

#bilo {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}


.video-wrapper iframe {
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    /* left: 0; */
    /* width: 100%;
    height: 100%; */
}


.video-wrapper video {
    /* position: absolute; */
    top: 0;
    max-width: 100%;
    max-height: 100%;
    
    /* left:0;
    right:0;
    top:0;
    bottom:0; */
    width: 100%;
    height: 100%;
    
    
    /* left: 0; */
    /* width: 100%;
    height: 100%; */
}

/* css untuk section sambutan */

#sambutan {
    /* margin: 60px 0; */
    /* margin: 40px 0; */
    margin: 40px 0;
    /* padding: 0 50px; */
    /* padding-bottom: 60px; */
    padding-bottom: 30px;
    /* padding-bottom: 30px; */
}

/* #sambutan .container {
    padding: 0 30px;
} */

#sambutan h2 {
    /* padding: 10px; */
    color: #15477A;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    left: 0;
    margin-left: -3px;
    /* left: 10px; */
    /* margin-left: 10px; */
    /* padding: 0px 0px 0px -10px; */
    /* position: relative; */
    
}


#sambutan h3,
#sambutan p,
#sambutan a {
    margin-left: 20px;
}

#sambutan h3 {
    color: #15477A;
    font-size: 28px;
    font-weight: 500;
}

#sambutan p {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-size: 500;
    line-height: 28px;
}

/* css untuk section prestasi */

#prestasi {
    min-height: 250px;
}

#prestasi .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

.section-item {
    margin: 70px 0;
    /* box-shadow: 0 0 25px #ddd; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    min-height: 260px;
    overflow: hidden;
}

.section-item-thumbnail {
    /* max-width: 100%; */
    max-width: 102%;
    width: 102%;
    /* height: 250px; */
    object-fit: cover;
    /* max-height: 250px; */
    /* padding: 0; */
    /* height: 100%; */
    height: 300px;
    max-height: 100%;
}

.section-title {
    margin-bottom: 90px;
    /* display: inline-block; */
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    /* text-align: center; */
    color: #15477A;
    font-weight: 600;
}

.section-item-title,
.section-item-body {
    margin-left: 10px;
}

.section-title h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #F2C808;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.section-item-title {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 20px
}

.section-item-title h3 {
    font-size: 18px;
    color: #15477A;
    line-height: 25px;
    font-weight: 600;
    padding-right: 40px;
}

.section-item-title span {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

.section-item-title span i {
    margin-right: 5px;
}

.section-item-title span:first-of-type {
    margin-right: 15px;   
}

.section-item-body p {
    font-size: 12px;
    line-height: 25px;
    color: #666;
}

/* CSS untuk tbl selengkapnya */

.pendidik{
    margin: 80px 0;
    background-color: #fff;
}

.aktivitas{
    margin: 80px 0;
    background-color: #fff;
}

.news{
    margin: 80px 0;
    background-color: #fff;
}

/* .tombol-selengkapnya {
    display: inline-block;
    margin: 0 auto;
} */

.tombol-selengkapnya {
    text-align: center;
}

.tombol-selengkapnyah {
    text-align: center;
    margin-top: 60px;
}

.btn.btn-more {
    font-size: 15px;
    /* font-weight: 600; */
    text-transform: uppercase;
    font-weight: 600;
    color: #15477A;
    text-align: center;
    display: inline-block;
    /* margin: 0 auto; */
    border: 2px solid #15477A;
    border-radius: 0;
    padding: 10px 40px;
    transition: background-color 0.3s;
}

.btn.btn-more:hover {
    background-color: #15477A;
    color: #fff;
}

/* css untuk slider */

/* #tenaga-pendidik-slider {
    padding: 20px;
} */


/* diubah banner */
/* .owl-item {
    padding: 20px 10px;
} */

.section-item-slider {
    height: 380px;
    /* box-shadow: 0 0 20px #ddd; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative; 
    /* margin: 10px; */
    /* padding: 20px; */
}

#tenaga-pendidik .foto-guru {
    height: 100%;
    object-fit: cover;
}

#galeri-sekolah .foto-guru {
    height: 100%;
    object-fit: cover;
}

.section-item-caption {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    /* background-color: red; */
    color: #000;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 20px 10px 15px;
}

.section-item-caption h5 {
    color: #15477A;
    font-size: 18px;
    font-weight: 600;
}

.section-item-caption h6 {
    /* color: #15477A; */
    /* font-size: 18px; */
    font-size: 14px;
    color: #F2C808;
    text-transform: uppercase;
}

/* #slider-tools-1 {
    position: relative;
} */

#tenaga-pendidik .section-body {
    position: relative;
}

#galeri-sekolah .section-body {
    position: relative;
}

#slider-tools-1 .owl-next,
#slider-tools-1 .owl-prev,
#slider-tools-3 .owl-next,
#slider-tools-3 .owl-prev {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
    z-index: 20;
    background-color: #15477A;
    border: none;
    height: 35px;
    width: 35px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.3s;
    /* height: 20px; */
    /* width: 20px; */
}

#slider-tools-1 .owl-prev,
#slider-tools-3 .owl-prev {
    left: -60px;
}

#slider-tools-1 .owl-next:hover,
#slider-tools-1 .owl-prev:hover,
#slider-tools-3 .owl-prev:hover,
#slider-tools-3 .owl-next:hover {
    cursor: pointer;
    background-color: #F2C808;
    color: #000;
}

/* css untuk profil alumni */

#alumni {
    background-color: #15477A;
    padding: 80px 0;
    /* position: relative; */
}

#alumni .section-title h2 {
    color: #fff;
    /* padding: 80px 0; */
}

#alumni .section-item-slider {
    box-shadow: none;
    /* border: 1px solid #fff; */
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#alumni .section-item-slider {
       height: 276px;
       padding: 20px;
       /* fontawesome.com/icons?d=gallery&q=more%20 */
       /* fontawesome.com/icons?d=gallery&q=arrow */
}
    
#alumni .section-item-content h3 {
    font-size: 18px;
    font-weight: 500;
    color: #F2C808;
}

#alumni .section-item-content p {
    font-size: 14px;
    color: #fff;
    line-height: 26px;
}

#alumni .section-item-content .more {
    color: #F2C808;
    /* font-size: 14px;
    color: #fff;
    line-height: 26px; */
}

#alumni .section-item-content .more i {
    margin-left: 10px;
}

.foto-alumni {
    height: 100%;
    object-fit: cover;
}

.section-body {
    position: relative;
}

#slider-tools-2 .owl-next,
#slider-tools-2 .owl-prev {
    position: absolute;
    background-color: #fff;
    top: 50%;
    right: -50px;
    z-index: 20;
    border: none;
    height: 35px;
    width: 35px;
    outline: none;
    border-radius: 50%;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px #4b4b4b33;
}

#slider-tools-2 .owl-prev {
    left: -50px;
}

#slider-tools-2 .owl-prev:hover,
#slider-tools-2 .owl-next:hover {
    cursor: pointer;
    background-color: #F2C808;
}


/* css untuk section galeri */

.galeri-dokumentasi{
    margin: 80px 0;
    background-color: #fff;
}

.video-galeri iframe {
    position: absolute;
    max-height: 100%;
    height: 76%;
    width: 100%;
    object-fit: cover;
    /* top: 50%; */
}

.video-galeri video {
    /* position: absolute; */
    max-height: 100%;
    /* height: 76%;
    width: 100%; */
    
    margin-top: 33px;
    height: 60%;
    width: 100%;
    
    object-fit: cover;
    /* top: 50%; */
}

.video-galeri {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    /* top: 50%; */
}

/* #galeri .section-body {
    margin-bottom: 50px;
} */

#galeri-sekolah .section-body, 
#tenaga-pendidik .section-body, 
#galeri .section-body {
    margin-bottom: 50px;
}

/* section {
    margin: 80px 0;
} */

/* section:first-of-type,
section:nth-of-type(2n)
{
    margin: 0;
} */

/* CSS untuk section ekstrakulikuler */

#ekstrakulikuler
{
    background-color: #ddd;
    padding: 80px 0;
}

#ekstrakulikuler .section-body-item
{
    /* display: flex; */
    background-color: #15477A;
    border-radius: 5px;
    padding: 20px;
    color: #F2C808;
    height: 200px;
    /* line-height:200px; */
    /* vertical-align: middle; */
    /* align-items: center; */
    /* min-height: 200px; */
    text-align: center;
    align-items: center;
    font-size: 25px;
    /* box-sizing: border-box; */
}

#ekstrakulikuler .section-body-item h4
{
    /* color: #F2C808; */
    /* font-size: 23px; */
    font-weight: 500;
}

#ekstrakulikuler .section-body .row:first-of-type {
    margin-bottom: 30px;
}

#ekstrakulikuler .row-2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* CSS untuk berita */

/* #berita .row:first-of-type {
    margin-bottom: 30px;
} */

#berita .row {
    margin-bottom: 50px;
}

.section-thumbnail {
    width: 100%;
    height: 237px;
    overflow: hidden;
    position: relative;
}

.section-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-thumbnail .tanggal {
    position: absolute;
    /* bottom: 0; */
    bottom: 10px;
    left: 10px;
    z-index: 10;
    /* left: 30px; */
    /* left: 20px; */
    background-color: #15477A;
    color: #F2C808;
    /* padding: 20px; */
    /* padding: 10px; */
    padding: 5px 10px;
    border-radius: 5px;
}

.section-thumbnail .tanggal span {
    margin: 0;
    padding: 0;
}

.section-thumbnail .tanggal span.tgl {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -10px;
}

/* link react native ke whatsaap
https://www.konsepkoding.com/2020/03/tutorial-react-native-whatsapp-direct.html
https://stackoverflow.com/questions/43518482/react-native-send-a-message-to-specific-whatsapp-number */

.section-thumbnail .tanggal span.tgl-2 {
    font-size: 10px;
}

#berita .section-content {
    /* padding: 20px 0; */
    padding: 20px 0 0;
}

#berita .section-content h3 {
    font-size: 16px;
    font-weight: 600;
    color: #15477A;
    line-height: 24px;
}

#berita .section-content p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

#berita .section-content p .more{
    color: #15477A;   
    font-weight: 500;
}

.section-meta a {
    background-color: #15477A;
    color: #fff;
    padding: 5px 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.section-meta a i {
    /* margin-right: 5px; */
    margin-right: 10px;
}

#berita .tombol-selengkapnya {
    margin-top: 80px;
}

/* CSS untuk Footer */

footer {
    color: #fff;
    background-color: #15477A;
    padding: 80px 0 0;
}

footer .footer-col:first-of-type {
    padding-right: 30px;
}

footer .brand {
    display: flex;
}

footer .brand img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

footer .brand h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    /* border-bottom: 1px dashed #fff; */
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

footer .sosmed {
    list-style: none;
    /* color: #fff; */
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    /* margin-right: 20px; */
    margin-right: 15px;
}

footer .sosmed li a {
   color: #fff;
   border: 1px solid rgba(255, 255, 255, 0.5);
   display: inline-block;
   height: 50px;
   width: 50px;
   text-align: center;
   border-radius: 50%;
   font-size: 20px;
   line-height: 50px;
}

footer .sosmed li a:hover {
    /* color: #777; */
    color: #c7c7c7;
}

.footer-col h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
    /* padding: 10px 0; */
}

.footer-col .kontak {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

.footer-col .kontak li {
    margin: 10px 0;
}

.footer-col .kontak i {
     margin-right: 10px;  
}

.footer-col .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col .footer-nav li {
    margin: 10px 0;
}

.footer-col .footer-nav a {
    color: #fff;
    font-size: 15px;
    font-weight: 28px;
    /* transition: border 0.3s; */
    transition: all 0.5s;
}

.footer-col .footer-nav a:hover {
    border-bottom: 1px dashed #fff;
    
}

/* .footer-col .footer-nav li {
    color: #fff
} */

.footer-copyright .container {
    /* margin-top: 60px;
    padding: 10px 0; */
    /* border-top: 1px solid #ddd; */
    /* border-top: 1px solid #F2F2F2; */
    border-top: 1px solid rgba(242, 242, 242, 0.25);
    padding: 10px 0;
}

.footer-copyright {
    margin-top: 60px;
    /* padding: 20px 0; */
    /* font-size: 16px;
    color: #CECECE;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.footer-copyright h6 {
    /* margin-top: 60px; */
    /* padding: 20px 0; */
    font-size: 16px;
    color: #CECECE;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright h6 a {
      color: inherit; 
}

.footer-copyright h6 a:hover {
    /* color: inherit;  */
    border-bottom: 1px dashed #CECECE;
}

/* Terima kasih sudah menonton! */